header
    // position: relative
    // top: 40px
    // left: 0
    height: 30vh
    margin: 0 auto
    margin-top: 40px
    // background-color: rgb(241, 246, 238)
    background-image: url('/img/logo.png')
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    @media (min-width: 768px)
        height: 45vh
    @media (min-width: 1200px)
        margin-top: 100px
        left: 0
        height: 70vh
        margin-bottom: 20px
