// header
//     position: relative
//     overflow: hidden
//     height: 40vh
//     margin-top: 40px
//     @media (min-width: 768px)
//         height: 55vh
//     @media (min-width: 1200px)
//         margin-top: 90px
//         // left: 0
//         height: 90vh

//     img
//         position: absolute
//         top: 0
//         left: 0
//         top: 50%
//         left: 50%
//         transform: translate(-50%, -50%)
//         min-width: 100%
//         min-height: 100%
//         // object-fit: cover
//         // object-position: center
//         opacity: 0
//         animation: slider 15s infinite linear
//     img:nth-child(2)
//         animation-delay: 5s
//     img:nth-child(3)
//         animation-delay: 10s
//     // first_slider
//     //  position: absolute
header
    position: relative
    overflow: hidden
    height: 60vh
    margin-top: 40px
    background-image: url('../img/header_640.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    @media (min-width: 768px)
        background-image: url('../img/header.jpg')
        height: 75vh
    @media (min-width: 1200px)
        margin-top: 90px
        left: 0
        height: 90vh

    .shadow
        height: 100%
        width: 100%
        background-color: #00000071

    img
        position: absolute
        top: 45%
        left: 50%
        transform: translate(-50%, -50%)
        height: 20vh
        filter: invert(100%)
        @media (min-width: 768px)
            bottom: 15%
            right: 10%
            height: 50vh
