nav
    position: fixed
    top: 40px
    left: 0
    height: auto
    width: 100vw
    background-color: $color-nav
    transition: .3s ease-out
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4)
    z-index: 2

    ul
        list-style: none

    a
        text-decoration: none

    .accordion-menu
        width: 100vw
        @media (min-width: 1200px)
            display: flex
            flex-direction: row
            align-items: center
            justify-content: center
            margin: 0 auto

    .dropdownlink
        overflow: hidden
        cursor: pointer
        display: block
        padding: 15px 15px 15px 45px
        font-size: 16px
        color: #212121
        position: relative
        transition: all 0.4s ease-out
        text-transform: uppercase
        font-weight: bold
        @media (min-width: 1200px)
            display: flex
            flex-direction: row
            align-items: center
            justify-content: center

        .fa-chevron-down
            align-self: center

    .dropdownlink a
        color: #212121

    .submenuItems
        display: none
        background: $color-light1
        @media (min-width: 1200px)
            position: absolute
            display: flex
            flex-direction: column
            align-items: flex-start
            display: none
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4)

        & a
            display: block
            color: $color-darkest
            padding: 10px 20px
            transition: all 0.4s ease-out
            text-transform: lowercase
            @media (min-width: 1200px)
            &:hover
                background-color: $color-darkest
                color: $color-light1

.burger
    color: white
    position: fixed
    top: 0
    right: 20px
    padding: 0 10px
    font-size: 25px
    z-index: 2
    @media (min-width: 1200px)
        display: none

i.off
    display: none

nav.off
    top: -100vh
    @media (min-width: 1200px)
        top: 40px
        display: flex
        flex-direction: row

i.fa-angle-up
    color: white
